.page .wp-block-operation-panama-hat-video-header {
  overflow: hidden;
  margin: 0 -15px;
  min-width: 100%;
  min-height: 100%;
  max-height: calc( 100vh - 50px );
  width: auto;
  height: auto;
  z-index: 1;
}
.page .wp-block-operation-panama-hat-video-header video {
  width: 100%;
  height: 100%;
  margin-top: -150px;
}
@media (min-aspect-ratio: 16/9) {
  .page .wp-block-operation-panama-hat-video-header video {
    height: 300%;
    top: -100%
  }
}
@media (max-aspect-ratio: 16/9) {
  .page .wp-block-operation-panama-hat-video-header video {
    width: 300%;
    left: -100%;
  }
}
.video-header-text {
  position: absolute;
  top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: 0;
  flex-wrap: wrap;
  z-index: 100;
  text-transform: uppercase;
}
.video-header-text > * {
  flex-basis: 100%;
  text-align: center;
  color: #efefef;
  text-shadow: 1px 1px 1px #777;
}
.video-header-text h2 {
  font-size: 3rem;
}
.video-header-text p {
  font-size: 1.6rem;
}

.wp-block-operation-panama-hat-callout {
  margin: 2rem -15px;
  padding: 2.5rem 30px;
  background:#000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wp-block-operation-panama-hat-callout h2 {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 1.5rem;
}
.wp-block-operation-panama-hat-callout a {
  display: block;
  color: #86d1ff;
  outline: 1px solid white;
  padding: 1rem;
  transition-duration: 0.2s;
}
.wp-block-operation-panama-hat-callout.header {
  margin-top: 0;
  color: #fff;
  margin-bottom: 3.5rem;
}
@media only screen and (min-width : 480px) {
  .video-header-text {
    top: 35vh;
  }
}
