.page-title,
.entry-header,
.entry-footer {
  display: none;
}
body {
  margin-bottom: 0;
  overflow-x: hidden;
  font-size: 1.1rem;
  font-family: 'Open Sans';
  padding-top: 50px;
}
h2,
h3,
h4,
.video-header-text,
.wp-block-operation-panama-hat-callout {
  font-family: 'Didact';
}
h2 {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}
article {
  padding: 0;
  margin: 0;
}
blockquote {
  border-color: #111;
}
blockquote p {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
}
a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
a:hover {
  color: #555;
  text-decoration: none;
}
.bg-black {
  background-color: black !important;
}
.img-brand {
  padding: 5px;
  margin-left: 1rem;
  filter: invert( 100% );
}
.dots {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.dot:after{
  content: '\2808';
  font-size: 12px;
}
.tribe-events-list-widget .tribe-list-widget {
  padding-left: 0;
}
.tribe-events-list-widget .tribe-events-list-widget-events {
  padding-left: 0;
}
.widget_nav_menu ul {
  list-style-type: none;
  padding-left: 0;
}
.widget_nav_menu a {
  padding: 0;
}

#navbarCollapse.large-screen {
  position: absolute;
  bottom: 20px;
  left: calc( 50vw - 40px );
}
#navbarCollapse.large-screen ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
#navbarCollapse.large-screen li {
  position: relative;
  display: inline-block;
  border: 1px solid white;
  border-radius: 255px;
  margin: 5px;
  width: 0%;
  min-width: 40px;
  height: 40px;
  padding-left: 10px;
  transition: width 0.2s ease-in-out;
}
#navbarCollapse.large-screen li:hover {
  width: 100%;
}
#navbarCollapse.large-screen li:after {
  content: '';
  display: block;
  width: 1px;
  height: 8px;
  background-color: white;
  position: absolute;
  left: 18px;
  top: -10px;
}
#navbarCollapse.large-screen li:first-of-type:after{
  display: none;
}
#navbarCollapse.large-screen .nav-link {
  margin-right: 50px;
  text-align: center;
  padding: 5px;
}
#navbarCollapse.large-screen .nav-text {
  margin-left: 50px;
}
#navbarCollapse.large-screen a {
  visibility: hidden;
  color: transparent;
  transition: 0.2s color 0.25s ease-in-out;
}
#navbarCollapse.large-screen li:hover a {
  visibility: visible;
  color: white;
  transition: 0.2s color 0.1s ease-in-out;
}
#navbarCollapse.large-screen .expand {
  width: 100% !important;
  transition: width 0.2s ease-in-out;
}
.wp-block-image img {
  width: 250px;
}
.navbar-brand img {
  display: none;
}
.footer-widgets .widget {
  margin: 0 15px;
}
.wpcf7 {
  margin: 3rem -15px;
}
@media only screen and (min-width : 480px) {
  .navbar-brand img {
    display: inline;
  }
  blockquote p {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}
